[user]
	email = jcuffe@gmail.com
	name = Jared Cuffe
	signingkey = 42B558553D9A3938
[core]
	editor = kak
[alias]
	co = checkout
	pu = push --set-upstream origin HEAD
	sw = switch -
	rl = reflog
	lo = log --oneline
	p = push
	s = status --short
[pull]
	rebase = true
[commit]
	gpgsign = true
