[user]
	email = jcuffe@gmail.com
	name = Jared Cuffe
	signingkey = 42B558553D9A3938
[core]
	editor = kak
[alias]
        au = add -u
	co = checkout
	cm = commit -m 
	fu = rebase -i HEAD~2
	lo = log --oneline
        pl = pull
        plt = pull --tags
	p = push
	pt = push --tags
	pu = push --set-upstream origin HEAD
	rl = reflog
	s = status --short
	sw = switch
	wfr = !gh run download $(gh run list -c $(git rev-parse HEAD) -w 'Merge Tests' --json databaseId --jq '.[0].databaseId') -D my-workflow-runs
	tech = !git branch --show-current | sed -E \"s/.*\\b(tech-[0-9]+)\\b.*/\\U[\\1]/g\" | tmux loadb -w - && tmux saveb -
        todos = !ag \"$(git tech) TODO\" -Q
	unwip = reset HEAD~1
	wip = commit -nm 'WIP'
[pull]
	rebase = true
[commit]
	gpgsign = true
